name: Releases

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.6

      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up promu
        run: go install github.com/prometheus/promu@v0.12.0

      - name: Build
        run: promu crossbuild -v

      - name: extract version
        id: tag
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/aws_ri_exporter:${{ steps.tag.outputs.VERSION }}

      - run: promu crossbuild tarballs
      - run: promu checksum .tarballs

      - name: Create Release
        run: promu release .tarballs
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
